/* GENERALES */

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 18px;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: hsl(0, 0%, 100%);
}

a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: 0;
  cursor: pointer;
}

/* UTILS */

.wrapper {
  width: min(100%, 1440px);
}

.hidden {
  display: none !important;
}

.button {
  padding: .8rem;
  border-radius: 10rem;
  box-shadow: 0 0 .5rem hsl(208, 11%, 55%);
}

/* HEADER SECTION */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  background-color: hsl(193, 100%, 96%);  
  padding: 2rem;
  background-image: url(../images/bg-hero-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 5rem;
}
  
.header__logo {
  display: flex;
}

.button--secondary {
  background-color: hsl(0, 0%, 100%);
  width: 10rem;
  font-weight: 600;
}

.header__hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.hero__title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.hero__text {
  text-align: center;
}

.button--primary {
  background-color: hsl(322, 100%, 66%);
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  width: 15rem;
}

.hero__image {
  width: 100%;
}

@media (min-width: 992px) {
  .header {
    background-image: url(../images/bg-hero-desktop.svg);
    padding: 2rem 2rem 2rem 4rem;
    gap: 4rem;
  }
  .header__hero {
    flex-direction: row;
  }
  .hero__title {
    text-align: left;
    font-size: 2.4rem;
  }
  .hero__text {
    text-align: left;
  }
  .hero__image {
    width: 52%;
  }
}

/* MAIN SECTION */

/* CALL TO ACTIONS SECTION */

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: 0 auto;
  padding: 6rem 2rem 18rem 2rem;
}

.call-to-actions {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 4rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 .5rem hsl(208, 11%, 55%);
}

.call-to-actions__details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.call-to-actions__title {
  text-align: center;
}

.call-to-actions__text {
  color: hsl(208, 11%, 55%);
  text-align: center;
}

.call-to-actions__image {
  display: flex;
  width: 100%;
}

@media (min-width: 992px) {
  .main {
    padding: 6rem 4rem 12rem 4rem;
  }
  .call-to-actions {
    flex-direction: row;
    padding: 2rem 1rem 2rem 4rem;
    gap: 7rem;
  }
  .call-to-actions:nth-of-type(2) {
    flex-direction: row-reverse;
  }
  .call-to-actions__title {
    text-align: left;
  }
  .call-to-actions__text {
    text-align: left;
  }
  .call-to-actions__image {
    width: 45%;
  }
}

/* FOOTER SECTION */

.footer {
  text-align: left;
  position: relative;
}

.footer--wrapper {
  background-color: hsl(192, 100%, 9%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  margin: 0 auto;
  color: hsl(0, 0%, 100%);
  padding: 10rem 2rem 2rem 2rem;
}

.footer__logo {
  filter: brightness(0) invert(1);
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
  width: 100%;
  justify-content: space-between;
}

.footer-info__contact {
  width: min(100%, 24rem);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.footer-info__contact span {
  display: flex;
  gap: 1rem;
}

.footer-info__contact span img {
  width: 1rem;
  height: 1.4rem;
}

.footer-info__links {
  display: grid;
  grid-template-columns: 10rem;
  flex-direction: column;
  gap: 1rem;
}

.footer-info__social {
  display: flex;
  margin: 0 auto;
  gap: 1rem;
}

.footer-info__social a {
  border: 2px solid hsl(0, 0%, 100%);
  display: flex;
  border-radius: 10rem;
  padding: .25rem;
}

.footer__copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size:  1rem;
  text-align: center;
}

@media (min-width: 992px) {
  .footer-info {
    flex-direction: row;
  }
  .footer--wrapper {
    padding: 6rem 2rem 2rem 4rem;
  }
  .footer-info__links {
    grid-template-columns: 10rem 10rem;
  }
  .footer__copyright {
    justify-content: right;
    font-size:  .65rem;
  }
}

/* COMMUNITY SECTION */

.community {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: hsl(0, 0%, 100%);
  width: min(100% - 2rem, 40rem);
  position: absolute;
  top: -8rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 3rem 1rem;
  text-align: center;
  box-shadow: 0 0 .5rem hsl(208, 11%, 55%);
  border-radius: 1rem;
}

.community h2 {
  font-size: 1.3rem;
}

@media (min-width: 992px) {
  .community {
    padding: 2rem 4rem;
    top: -7rem;
  }
}
